html, body {
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
    color: white;
}

html {
    font-family: 'Press Start 2P', sans-serif;
}

body {
    margin: auto;
    max-width: 1200px;

}
/*#### Header ####*/
header {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.headerTexte{
    margin-left: 5%;
}

.logo {
    object-fit: contain;
    width: 10%;
}

/*#### Menu ####*/
main nav{
    width: 100%;
    background-color: purple;
}

main nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

main nav ul li{
    display: flex;
    padding: 0;
    margin: 0.5rem;
}

.barreRecherche {
    width: 75%;
    margin: 7%;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 20px;
}

.boutonValider{
    margin-top: 1rem;
    width: 50%;
    height: 50%;
}

.boutonFavoris {
    display: flex;
    box-shadow: 0 0 10px white;
    font-size: 1rem;
}

/*#### Section ####*/
section{
    background-color: red;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
}

/*#### Footer ####*/
footer{
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}