* {
  box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
    color: white;
}

html {
    font-family: 'Press Start 2P', sans-serif;
}

body {
    margin: auto;
    max-width: 1200px;

}
/*#### Header ####*/
header {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.headerTexte{
    margin-left: 5%;
}

.headerTexte h2{
    font-size: xx-large;
}

.headerTexte h1{
    font-size: x-large;
}

.logo {
    object-fit: contain;
    width: 10%;
}

/*#### Menu ####*/
main nav{
    position: relative;
    width: 100%;
    background-color: purple;
}

main nav ul {
    display: flex;
    width: 900px;
    list-style: none;
    padding: 0;
    margin: 0;
}

main nav ul li{
    display: flex;
    padding: 0;
    margin: 0.5rem;
}

.barreRecherche {
    width: 75%;
    margin: 7%;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 20px;
}

.boutonValider{

}

.boutonFavoris {
    display: flex;
    position: absolute;
    right: 20px;
    box-shadow: 0 0 10px white;
    font-size: 1rem;
}

/*#### Section ####*/
section{
    background-color: white;
    width: 80%;
    /*height: 80vh;*/
    margin-left: 10%;
    padding: 4px;
}

section h3{
    color: black;
}

/*#### Footer ####*/
footer{
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
}

.footer .colonnes {
    width: 30%;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .colonnes h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .colonnes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .colonnes ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;

}

.footer .colonnes ul li:hover {
    color: white;
}

.conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    width: 100%;
}

.apercuJeu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    height: auto;
    margin: 30px 0;
    background-color: blue;
    border: 2px solid black;
    padding: 3px;
}

.apercuJeu img{
    max-width: 250px;
}

.plateformes {
    display: flex;
}

.plateformes p{
    font-size: small;
    color : white;
    background-color: darkgray;
    margin: 2px;
    border: thick double black;
}

.premierePartieFiche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.premierePartieFiche h2{
    font-size: xx-large;
}

.premierePartieFiche img{
    width: 300px;
}

.deuxiemePartieFiche{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.descriptionCourte{
    color: black;
    font-size: larger;
}

.descriptionComplete{
    color: black;
}

footer a{
    text-decoration:none;
}